doctype html
html
  head
    title Our impact in 2016 | UWSU.com | Your Students' Union
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width", initial-scale="1")
    link(href="css/main.css", rel="stylesheet", type="text/css")
    link(rel="icon", href="http://uwsu.com/wp-content/uploads/2015/07/UWSU-Favicon.png")
    link(href="https://fonts.googleapis.com/css?family=Domine", rel="stylesheet")
  body
    //The fixed-position navigation bar, which hides on mobile
    nav.navigation
      h5 Our impact<br>in 2016
      ul
        li
          a(href="#societies") Societies
        li 
          a(href="#sports") Sports
        li
          a(href="#media") Student media
        li
          a(href="#money") Money
        li
          a(href="#reps") Course reps
        li
          a(href="#advice") Advice
        li
          a(href="#freshers") Freshers' week
        li
          a(href="#fans") FANS
    //The full-height header section
    header
      section.image(style="background-image: url('img/hero.jpg')")
      section.pane
        h2#title Our impact in 2016
        hr
        p#lede What has UWSU been doing this year? Scoll on to find out.
    //The first section of the report
    article#societies
      //One column width of margin on the left-hand side
      aside.margin
      aside.intro
        h2 Societies
        p
          | Societies allow our students to explore their interests, share their culture and 
          a(target="blank", href="http://uwsu.com/societies/") become part of the Westminster community.
      aside.stats
        h3 Growth
        p We’ve worked hard to support our clubs and societies so they can deliver for you.
        figure
          span 102
          figcaption Registered societies
        figure
          figcaption Beautiful new societies in 2016      
          span.big 21
        img(src="img/socs1.svg")
        h3 Engagement
        p And we’ve spent more time than ever before with our society leaders to develop their skills.
        figure
          span.big 67
          figcaption Student leaders attended our weekend training residential at Amersham
        figure
          figcaption Students are part of a society
          span 800
    article#sports.color
      section.image(style="background-image: url('img/sports-hero.jpg')")
      //One column width of margin on the left-hand side
      aside.margin
      aside.intro
        h2 Sports
        p
          | Sport is central to Westminster’s 177 year history. The employability gains are vital, and 
          a(target="blank", href="http://uwsu.com/varsity") sporting achievements
          |  create strong bonds that last a lifetime.
      aside.stats
        h3 Growth
        p Being involved in sport helps build communities and gives students opportunities to try something new, as well as benefitting mental and physical health.
        p Most of all, sport gives students a clear head for academic success.
        figure
          span 390
          figcaption Students are members of a sports team
        img(src="img/sports1.png")
        figure
          figcaption Sports teams in total   
          span.big 21
        figure
          span.big 7
          figcaption Years of Varsity wins. That's a lot of trophy engravings
        img(src="img/sports2.png", class="waggle")
    article#media.color
      section.image(style="background-image: url('img/media-hero.jpg')")
      //One column width of margin on the left-hand side
      aside.margin
      aside.intro
        h2 Student media
        p
          | We’ve invested in training and facilities for 
          a(target="blank", href="http://smoke.media") our student media outlets
          | , helping them to reach out to more students and produce higher quality content.
      aside.stats
        h3 Print
        p Both of our student-led publications are now monthly...
        figure.stack
          span 17000
          figcaption Copies of the QH and Smoke Mag published
        img(src="img/media1.png")
        h3 Broadcast
        p And Smoke TV and Radio are now producing more, better qulity content than ever before.
        figure
          figcaption Hours of live radio  
          span 3000
        img(src="img/media2.svg")
        figure
          span 160,000
          figcaption Views on Smoke TV videos.
        img(src="img/media3.png", class="waggle")
    article#money.color
      section.image(style="background-image: url('img/money-hero.jpg')")
      //One column width of margin on the left-hand side
      aside.margin
      aside.intro
        h2 Money
        p
          | How far does one pound go?
      aside.stats
        h3 Spending breakdown
        p Every pound spent on your SU goes back into improving our services and facilities. This is where that money ends up:
        svg#money
    article#reps
      //One column width of margin on the left-hand side
      aside.margin
      aside.intro
        h2 Course reps
        p Representing students on their course, these pivotal students have considerable say in the SU’s work.
      aside.stats
        h3 Engagement
        p We’ve recruited more course reps this year than ever before.
        figure
          span.big 764
          figcaption Course reps recruited
        img(src="img/reps1.svg")
        figure
          figcaption Brand new faculty reps
          span.big 4
        h3 Training
        p And we’ve seen much greater interest in our training programme.
        figure
          span.big 200
          figcaption Attended specialist training and workshops
    article.color#advice
      //One column width of margin on the left-hand side
      aside.margin
      aside.intro
        h2 Advice
        p
          | Our 
          a(target="blank", href="http://uwsu.com/advice/") welfare advisors
          |  handled nearly 200 cases last year. Here’s what they helped you with.
      aside.stats
        div#advice
        svg#advice
        h3 Successes
        div.post-its
          div.post-it Thank you so much for your patience assisting my mitigating circumstances claim. It’s been accepted!
          div.post-it I really appreciate you seeing me and helping with me with this complaint. Thank you once again.
          div.post-it I would like to thank you for all the advice - my mitigating circumstances claim has been accepted and I am truly happy.
          div.post-it The mitigating circumstances team have accepted my claim. I can’t express how grateful I am for all your help accumulating the relevant material and submitting the claim for me. I do hope I don’t have to see you again in this capacity, just friendly greetings from now on!
    article.color#freshers
      //One column width of margin on the left-hand side
      aside.margin
      aside.intro
        h2 Freshers' week
        p Our freshers’ fairs on each campus introduce the majority of students to our community and services.
      aside.stats
        h3 Fairs
        p This year, our Freshers’ Fairs were bigger than ever.
        figure
          span.big 45
          figcaption External partners attended our fairs
        img(src="img/freshers1.png")
        figure
          figcaption Revenue raised to put back into our services
          span £26,000
        figure
          span.big 82
          figcaption Societies and sports teams attended, selling thousands of memberships
        img(src="img/freshers2.png", class="waggle")
        h3 And elsewhere
        p Success wasn’t confined to the four fairs. We also ran a number of events:
        figure.stacked
          span 11602
          figcaption Pints were served in Undercroft bar
        img(src="img/freshers3.png")
        figure.stacked
          span 902
          figcaption Students attended freshers' week events     
    article.color#fans
      //One column width of margin on the left-hand side
      aside.margin
      aside.intro
        h2 FANS
        p
          | The 
          a(target="blank", href="http://uwsu.com/fans/") Friends of Arriving New Students
          |  programme helps newcomers settle in during their first weeks at Westminster.
      aside.stats
        h3 Stats
        p Newcomers pair with trained students who’ve already been through it.
        p Moving away from home, family and friends can be daunting, but the FANS programme receives positive feedback every year, and offers volunteers the chance to earn crucial employability prospects.
        figure
          span.big 4627
          figcaption Students had a FAN
        figure
          figcaption FANS were recruited in 2016
          span.big 165
        h3 What they say
        div.testimonial
          div.portrait
            img(src="img/fan1.png")
            h5 Faizullah Muhammedali, BA Criminology
          div.text
            p “I really enjoyed the FANS process and role. It was nice to give new students information and advice I never received during my own first week.
            p The training was absolutely brilliant and the skills I learned were helpful not only in my role, but with other jobs and roles which followed. I would strongly recommend the scheme to everyone.”
        div.testimonial
          div.portrait
            img(src="img/fan2.png")
            h5 Henna Khan, BA Business Management
          div.text
            p “I’m so happy that I signed up to FANS - it was one of the best university experiences I’ve had.
            p Not only do you get to help new students but you also work on yourself. Being a FAN made me more confident and able to work with new people. 
            p It’s a shame that I’m graduating and won’t be able to do it again next year.”

    footer
      section.image(style="background-image: url('img/officers.jpg')")
      section.pane
        h3 From all of us at UWSU
        hr
        p Thanks for another amazing year. Let’s make 2017 even better.
    script(src="js/main.js")
    script(src="js/d3.min.js")
    script(src="js/vis.js")
